a {
    text-decoration: none;
    color: white;
    font-family: timeburner;
}

p {
    color: white;
}

h3 {
    color: white;
}

.appContainer {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto 100px;
    position: relative;
}

.bodyBox {
    color: white;
    opacity: 0.7;
    grid-column: 1/-1;
    background: url("https://images.unsplash.com/photo-1486334803289-1623f249dd1e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14fad02f7a44318650b93dd27fc8435b&auto=format&fit=crop&w=1099&q=80");
    background-size: cover;
    background-position: left;
}

.bodyBox h3 {
    margin: 0;
    padding-top: 25px;
    padding-left: 75px;
    color: red;
    opacity: 0.7;
    font-family: timeburner;
    font-size: 60px;
    text-align: left;
    text-shadow: 2px 3px black;
}

.bodyBox ul {
    display: grid;
    grid-column: 8/-1;
    font-family: verdana, sans-serif;
    font-size: 18px;
    line-height: 2;
    padding-left: 60%;
}

.bodyBox li {
    font-style: italic;
    list-style: none;
}

.nav {
    display: flex;
    grid-column: 1/-1;
}

.nav ul {
    font-family: verdana, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    background-color: black;
    height: 100px;
    width: 100%;
    align-items: center;
    margin: 0;
}

.footer {
    display: flex;
    grid-column: 1/-1;
    font-family: verdana, sans-serif;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    background-color: black;
    height: 100px;
    width: 100%;
    /* align-items: center; */
    margin: 0;
}

.footer h3 {
    color: white;
    text-align: center;
}

.lowFooter p a {
    color: white;
    text-align: right;
}

body {
    margin: 0;
    padding: 0;
}

@media (min-width: 800px) {
    .nav ul {
        font-size: 28px;
    }
}

@media (max-width: 800px) {
    .bodyBox ul {
        padding-left: 20%;
    }
}
