* {
    /* box-sizing: border-box; */
    font-size: 0px;
}

.box1 {
    height: 500px;
    width: 800px;
    background-color: black;
    border: solid 1px black;
    position: relative;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.box2 {
    height: 333px;
    width: 800px;
    background-color: red;
    position: absolute;
    /* top: 50%; */
    top: 33%;
    /* transform: translate(-50%, -50%); */
}

.box3 {
    height: 167px;
    width: 800px;
    background-color: yellow;
    position: absolute;
    /* top: 50%; */
    top: 67%;
    /* transform: translate(-50%, -50%); */
}
