@font-face {
    font-family: verdemoderna;
    src: url(fonts/verdemoderna.woff);
}

/* latin-ext */

@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(http://fonts.gstatic.com/s/juliussansone/v6/1Pt2g8TAX_SGgBGUi0tGOYEga5WOzHsXy6KHHow-.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Julius Sans One'), local('JuliusSansOne-Regular'), url(http://fonts.gstatic.com/s/juliussansone/v6/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v5/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWx8QDO-WyrubOA.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'), url(http://fonts.gstatic.com/s/librebaskerville/v5/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDO-Wyrs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMaC82U-ro.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(http://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.container {
    height: 100vh;
    display: grid;
    /* grid-gap: 3px; */
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, auto);
    /* grid-template-areas:
            ". m m m m . . h h h h ."
            "c c c c c c c c c c c c"
            "f f f f f f f f f f f f"; */
}

.upperHead {
    background-color: #325050;
    position: relative;
    width: 100%;
    height: 10px;
    top: 0px;
    grid-column: 1/-1;
}

.header {
    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1/3; */
    grid-column: 1/-1;
    /* grid-area: h; */
    background: url("http://csszengarden.com/214/huntington.jpg");
    /* width: 100%;
    position: fixed;
    right: 0%;
    left: 0%;
    bottom: 100px; */
    background-position: left;
    background-size: cover;
    position: relative;
}

.zenHead .logo {
    /* display: flex; */
    left: 50%;
    width: 50px;
    height: 50px;
    margin: 0 0 0 -25px;
    padding: 20px 0 12px 0px;
    opacity: 0.7;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
    /* grid-column: 1/-1; */
    position: relative;
    text-align: center;
}

.banner h3 {
    font-size: 28px;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    margin: 0;
}

.banner .sub {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 17.5px;
    font-style: italic;
    line-height: 2.5;
    opacity: 0.8;
}

.otherImagesHead {
    background: url("http://csszengarden.com/214/gridlines.png");
    background: url("http://csszengarden.com/214/contours.png");
    /* padding-top: 30px; */
    background-color: rgba(255, 255, 255, 0.3);
    height: 70px;
    /* z-index: 1; */
}

.header p {
    color: white;
    margin: 0;
    /* font-size: 12px; */
}

.view {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    grid-column: 1/-1;
    bottom: 0%;
    text-align: center;
    position: relative;
}

.view p {
    font-size: 16px;
    font-family: 'Julius Sans One', sans-serif;
    color: white;
    opacity: 0.5;
}

.view h3 {
    position: absolute;
    right: 0px;
    padding: 5px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-indent: 0;
    font-size: 44px;
    font-family: 'verdemoderna';
    line-height: 70px;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    opacity: 0.5;
}

.content1 {
    /* display: grid; */
    /* grid-template-columns: 1fr 4fr 1fr; */
    grid-column-start: 1;
    grid-column-end: -1;
    margin: 25px 42px 25px 42px;
    /* grid-area: c; */
}

.content1 p {
    font-size: 13.2px;
    margin-top: 10.5px;
    margin-bottom: 10.5px;
    line-height: 2;
    font-family: 'Libre Baskerville', sans-serif;
}

.content1 h3 {
    line-height: 1;
    margin-top: 35px;
    margin-bottom: 0;
    font-size: 21px;
    color: #607476;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Julius Sans One', sans-serif;
}

.content2 {
    /* display: grid; */
    /* grid-template-columns: 1fr 4fr 1fr; */
    grid-column-start: 1;
    grid-column-end: -1;
    /* padding-top: 17px; */
    /* margin: 25px 42px 25px 42px; */
    background-color: rgba(138, 188, 159, 0.5);
    /* grid-area: c; */
}

.content2 .endP {
    margin-bottom: 33px;
}

.content3 .endP {
    margin-bottom: 33px;
}

/* .content2 {
    grid-column: 1/-1;
    background-color: rgba(138,188,159,0.5);
} */

.content2 p {
    font-size: 13.2px;
    margin: 11px 42px 11px 42px;
    line-height: 2;
    font-family: 'Libre Baskerville', sans-serif;
}

.content2 h3 {
    padding-top: 15px;
    line-height: 1;
    /* margin-top: 35px; */
    margin-bottom: 0;
    margin-left: 42px;
    font-size: 20px;
    color: #607476;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Julius Sans One', sans-serif;
}

.content3 {
    /* display: grid; */
    /* grid-template-columns: 1fr 4fr 1fr; */
    grid-column-start: 1;
    grid-column-end: -1;
    /* margin: 25px 42px 25px 42px; */
    /* grid-area: c; */
}

.content3 p {
    font-size: 13px;
    margin: 11px 42px 11px 42px;
    line-height: 2;
    font-family: 'Libre Baskerville', sans-serif;
}

.content3 h3 {
    padding-top: 17px;
    line-height: 1;
    /* margin-top: 35px; */
    margin-bottom: 0;
    margin-left: 42px;
    font-size: 20px;
    color: #607476;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Julius Sans One', sans-serif;
}

.dave {
    grid-column: 1/-1;
    background: url("http://csszengarden.com/214/koi.jpg");
    /* width: 100%;
    height: 20%;
    position: fixed;
    right: 0%;
    left: 0%;
    bottom: 100px; */
    background-position: center;
    background-size: cover;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 0;
}

.otherImagesDave {
    background: url("http://csszengarden.com/214/gridlines.png");
    background: url("http://csszengarden.com/214/contours.png");
    width: auto;
    /* z-index: 1; */
}

.dave p {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Libre Baskerville', sans-serif;
    line-height: 2;
    font-size: 23px;
    margin: 0;
    padding: 5%;
}

.otherImagesDave p span {
    opacity: 0.5;
    font-style: italic;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-column: 1/-1;
    /* height: 100px; */
    /* width: 100%; */
    background-color: #134347;
    background-size: cover;
    /* position: fixed;
    bottom: 0%;
    left: 0%;
    right: 0%; */
    font-family: verdemoderna;
    font-weight: 100;
    /* padding: 1em 10%; */
    padding-top: 6.2%;
    padding-bottom: 6.2%;
}

.footer ul {
    /* display: flex;
    width: 100%;
    justify-content: space-around; */
    /* height: 30px; */
    list-style-type: none;
    list-style: none;
    padding: 0;
    /* padding-left: 10%;
    padding-right: 5%;
    margin-left: 0%; */
}

.footer li {
    /* font-size: 16px; */
    margin: 10px;
    display: inline;
    /* margin-top: 10px; */
    /* width: 20%; */
    /* float: left; */
}

.footer a {
    /* align-content: center; */
    font-size: 34px;
    color: #c0cac3;
    text-decoration: none;
    font-weight: 400;
    /* display: inline; */
    /* margin-top: 10px; */
    /* margin-left: 15%; */
    /* width: 20%; */
    /* float: left; */
}

.footer a:hover {}

.menu1 {
    /* grid-row: 2/3; */
    grid-column: 1/-1;
    background: #fff;
    /* grid-area: m; */
}

.menu1 .container1 {
    list-style-type: none;
    list-style: none;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    display: grid;
    /* grid-gap: 3px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "m1 m2" "m3 m4" "m5 m6" "m7 m8";
}

.menu1 a {
    display: inline;
    font-size: 16px;
    color: #607476;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Julius Sans One', sans-serif;
}

.container1 .name {
    font-family: 'Libre Baskerville', sans-serif;
    font-size: 12px;
}

.container1 span {
    font-size: 16px;
    font-style: italic;
}

.container1>div {
    display: list-item;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 1.5px;
    border-bottom: solid 1px #32505029;
}

.menu1 a:hover {
    color: #0d8ba1;
}

.menu2 {
    grid-column: 1/-1;
    background: rgba(138, 188, 159, 0.5);
}

.menu2 .container2 {
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu2 .li1 .li2 .li3 .li4 .li5 {
    /* padding: 0.3em; */
    display: inline;
    /* margin: 0; */
}

.menu2 a {
    font-size: 16px;
    color: #607476;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Julius Sans One', sans-serif;
}

.menu2 a:hover {
    color: #0d8ba1;
}

.otherImagesMenu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: url("http://www.csszengarden.com/214/bamboo.png");
    overflow: hidden;
    /* width: 1000px;
    height: 750px;
    background-position: top; */
    /* background-size: cover; */
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 100vh; */
    display: grid;
    /* grid-gap: 3px; */
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "li1n2 li1n2" "li3 li4" "li5 li5";
}

.container2>div {
    display: list-item;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 1.5px;
    border-bottom: solid 1px #32505029;
}

.container2 .li1>a {
    font-size: 16.2px;
    width: 200px;
}

.container2 .li1n2 {
    display: flex;
}

.container2 .li1n2 .li1 {
    width: 150px;
}

.li1n2 {
    grid-area: li1n2;
}

.li3 {
    grid-area: li3;
}

.li4 {
    grid-area: li4;
}

.li5 {
    grid-area: li5
}

.m {
    height: 55px;
}

.m2 {
    height: 32px;
}

.l {
    height: 17px;
}

.l2 {
    height: 39px;
}

@media (min-width: 500px) {
    .footer {
        padding-top: 14px;
        padding-bottom: 14px;
    }
    .footer ul {
        display: flex;
        width: 100%;
        justify-content: space-around;
    }
    .footer a {
        font-size: 48px;
    }
}

@media (min-width: 600px) {}

@media (min-width: 1130px) {}
