* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-container {
    height: 300px;
    width: 300px;
    display: grid;
    grid-gap: 15px 15px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    margin-top: 50px;

}

.grid-item {

}

.buttons {
    display: flex;
}

.buttons2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 50px;
    width: 100px;
    margin: 10px;
    background-color: lightblue;
    border-radius: 10px;
    font-size: 16px;
}
